# Python
__pycache__/
*.py[cod]
*.pyo
venv/
env/
.venv/
*.egg-info/

# Node
node_modules/
dist/
.vite/

# Environment
.env
.env.local

# Editor
.vscode/
.idea/
*.swp
.DS_Store

# Django
*.log
media/
staticfiles/
